@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;

a {
  text-decoration: none;
  color: $primary-text;
}

li {
  list-style: none;
}

button {
  font-family: "AvenirNext LT Pro";
  font-weight: 400;
  background-color: $primary-background;
  color: $primary-text;
  width: 100%;
  border: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 0.6rem;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.logo {
  @include page-header-mobile-font;
  font-weight: 400;
  text-transform: uppercase;
  color: $primary-text;
}

.label {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  font-weight: 600;
  text-transform: uppercase;
  color: #afafaf;
}

//nav bar
// .header-wrapper {
//   background-color: $primary-background;
//   max-width: $max-content-width;
//   margin: 0 auto;
// }
.header {
  background-color: $primary-background;
}

.header-wrapper {
  background-color: $primary-background;
  max-width: $max-content-width;

  @include tablet {
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
  }

  @include desktop {
    width: $max-content-width;
    margin: 0 auto;
  }

  &__logo {
    text-align: center;
    padding: 1rem;
    display: block;
    margin: auto;
  }

  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__link {
    height: 100%;
    width: 100%;
    display: block;
    padding: 1rem;
  }

  &__item {
    // padding-bottom: 1rem;
    width: 100%;
    text-align: center;

    @include tablet {
      margin-left: 3rem;
    }

    &--active {
      border-bottom: 0.25rem solid $primary-text;
    }
  }
}

//footer
.footer {
  background-color: $primary-background;
}
.footer-wrapper {
  background-color: $primary-background;
  color: $primary-text;
  padding: 2rem 1rem 1rem 1rem;
  max-width: $max-content-width;
  margin: 0 auto;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 2rem;
  }

  @include desktop {
    padding: 4rem 0;
  }

  &__logo {
    padding-top: 4rem;

    @include tablet {
      order: 2;
      width: 50%;
      padding-top: 0;
      text-align: right;
    }
  }
}

.socials {
  @include tablet {
    display: flex;
    order: 1;
    width: 50%;
    justify-content: space-between;
    align-items: center;
  }

  @include desktop {
    justify-content: flex-start;
  }

  &__title {
    @include section-header-mobile-font;

    @include tablet {
      @include section-header-desktop-font;
      font-size: 2rem;
    }
  }

  &__icons {
    padding-top: 1rem;

    @include tablet {
      padding-top: 0;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 41%;
    }

    @include desktop {
      padding-top: 0;
      margin-left: 1.3rem;
    }
  }

  &__icon {
    @include tablet {
      width: 1.3rem;
      height: 1.3rem;
    }
  }

  &__icon:not(:first-child) {
    padding-left: 2rem;

    @include tablet {
      padding-left: 0;
    }

    @include desktop {
      padding-left: 0;
    }
  }
}

.details {
  @include body-copy-mobile-font;

  @include tablet {
    @include body-copy-desktop-font;
    display: flex;
    order: 3;
    justify-content: space-between;
    width: 94%;
    margin-top: 1.5rem;
  }

  @include desktop {
    @include footer-copy-desktop-font;
    justify-content: flex-start;
  }

  &__card:not(:first-child) {
    @include desktop {
      padding-left: 3rem;
    }
  }

  &__name {
    font-weight: 600;
    padding: 1rem 0;

    @include tablet {
      padding-bottom: 1.5rem;
    }
  }

  &__email {
    padding-top: 1rem;

    @include tablet {
      padding-top: 1.5rem;
    }
  }
}

.copyright {
  margin-top: 1rem;

  @include tablet {
    order: 4;
    margin-top: 3rem;
  }

  @include desktop {
    margin-top: 3rem;
  }

  &__text {
    font-size: 0.6875rem;

    @include tablet {
      @include footer-copy-desktop-font;
      font-size: 0.8rem;
    }

    @include desktop {
      @include footer-copy-desktop-font;
      font-size: 0.8rem;
    }
  }
}
