@use './partials/index' as *;

.hero {
  background-image: linear-gradient(to right bottom, rgba($color: $primary-background, $alpha: 0.5), rgba($color: $primary-background, $alpha: 0.5)), url(../assets/Images/hero-bio.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 13rem;
  width: 100vw;
  position: relative;

    @include tablet {
      height: 31rem;
    }
    
  &__text {
    @include page-header-mobile-font;
    color: $primary-text;
    padding-left: 16px;
    position: absolute;
    top: 43%;

      @include tablet {
        @include page-header-desktop-font;
        top: 50%;
        left: 3%;
      }
  }
}

.about {
  padding: 1rem 1rem;

  &__content {

    @include tablet {
      padding: 1rem 4rem;
    }
  }

  &__title {
    @include section-header-mobile-font;
    padding-bottom: 0.6rem;

    @include tablet {
      @include section-header-desktop-font;
      margin-left: 1rem;
    }
  }

  &__image {
    width: 100%;
  }

  &__quote {
    @include subheader-mobile-font;
    color: $primary-background;
    margin-top: 0.6rem;

    @include tablet {
      @include subheader-desktop-font;
      letter-spacing: 0.036rem;
    }
  }

  &__quote-author {
    @extend .about__quote;

    @include tablet {
      font-size: 1.125rem;
    }
  }

  &__band-name {
    @include subheader-mobile-font;
    color: $primary-background;
    margin-top: 0.8rem;

    @include tablet {
      @include subheader-desktop-font;
    }
  }

  &__info-container {

    @include tablet {
      display: flex;
    }
  }

  &__info {
    @include body-copy-mobile-font;
    color: $primary-background;
    margin-top: 0.6rem;

    @include tablet {
      @include body-copy-desktop-font;
    }

    &--right {

      @include tablet {
        margin-left: 2.5rem;
      }
    }
  }
}

//gallery
.gallery {
  @extend .about;
  background-color: $alternative-background;

  @include tablet {
    padding: 2rem 2rem;
  }

  &__title {
    @extend .about__title;

    @include tablet {
      margin-left: 0;
    }
  }

  &__images {

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__image {
    @extend .about__image;
    padding-bottom: 0.6rem;

    @include tablet {
      height: 8rem;
      width: 14rem;
      padding-bottom: 1rem;
    }
  }
}