@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/Avenir-WOFF/AvenirNextLTPro-Regular.woff") format("woff"), url("../../assets/Font/Avenir-WOFF/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/Font/Avenir-TTF/AvenirNextLTPro.ttf") format("ttf"), url("../../assets/Font/Avenir-OTF/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/Avenir-WOFF/AvenirNextLTPro-Demi.woff") format("woff"), url("../../assets/Font/Avenir-WOFF/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/Font/Avenir-TTF/AvenirNextLTProDemi.ttf") format("ttf"), url("../../assets/Font/Avenir-OTF/AvenirNextLTPro-Demi.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/Avenir-WOFF/AvenirNextLTPro-Bold.woff") format("woff"), url("../../assets/Font/Avenir-WOFF/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/Font/Avenir-TTF/AvenirNextLTProBold.ttf") format("ttf"), url("../../assets/Font/Avenir-OTF/AvenirNextLTPro-Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  font-family: "AvenirNext LT Pro";
  font-weight: 400;
  background-color: #323232;
  color: #fff;
  width: 100%;
  border: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 0.6rem;
  border-radius: 0.3125rem;
}

.logo {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.label {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  font-weight: 600;
  text-transform: uppercase;
  color: #afafaf;
}

.header {
  background-color: #323232;
}
@media screen and (min-width: 786px) {
  .header {
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding: 0 8rem;
  }
}
.header__logo {
  text-align: center;
  padding: 1rem;
}
.header__list {
  display: flex;
  justify-content: space-around;
}
.header__link {
  padding-bottom: 1rem;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 786px) {
  .header__link {
    margin-left: 3rem;
  }
}
.header__link--active {
  border-bottom: 0.25rem solid #fff;
}
.header__item {
  color: #fff;
}

.footer {
  background-color: #323232;
  color: #fff;
  padding: 2rem 1rem 1rem 1rem;
}
@media screen and (min-width: 786px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 4rem 8rem;
  }
}
.footer__logo {
  padding-top: 4rem;
}
@media screen and (min-width: 786px) {
  .footer__logo {
    order: 2;
    width: 50%;
    padding-top: 0;
    text-align: right;
  }
}

@media screen and (min-width: 786px) {
  .socials {
    display: flex;
    order: 1;
    width: 50%;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .socials {
    justify-content: flex-start;
  }
}
.socials__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 786px) {
  .socials__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    font-size: 2rem;
  }
}
.socials__icons {
  padding-top: 1rem;
}
@media screen and (min-width: 786px) {
  .socials__icons {
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 41%;
  }
}
@media screen and (min-width: 1280px) {
  .socials__icons {
    padding-top: 0;
    margin-left: 1.3rem;
  }
}
@media screen and (min-width: 786px) {
  .socials__icon {
    width: 1.3rem;
    height: 1.3rem;
  }
}
.socials__icon:not(:first-child) {
  padding-left: 2rem;
}
@media screen and (min-width: 786px) {
  .socials__icon:not(:first-child) {
    padding-left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .socials__icon:not(:first-child) {
    padding-left: 0;
  }
}

.details {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 786px) {
  .details {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    display: flex;
    order: 3;
    justify-content: space-between;
    width: 94%;
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .details {
    font-style: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .details__card:not(:first-child) {
    padding-left: 3rem;
  }
}
.details__name {
  font-weight: 600;
  padding: 1rem 0;
}
@media screen and (min-width: 786px) {
  .details__name {
    padding-bottom: 1.5rem;
  }
}
.details__email {
  padding-top: 1rem;
}
@media screen and (min-width: 786px) {
  .details__email {
    padding-top: 1.5rem;
  }
}

.copyright {
  margin-top: 1rem;
}
@media screen and (min-width: 786px) {
  .copyright {
    order: 4;
    margin-top: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .copyright {
    margin-top: 3rem;
  }
}
.copyright__text {
  font-size: 0.6875rem;
}
@media screen and (min-width: 786px) {
  .copyright__text {
    font-style: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .copyright__text {
    font-style: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    font-size: 0.8rem;
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "AvenirNext LT Pro";
}

.hero-section {
  background-image: linear-gradient(to right bottom, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/Images/hero-shows.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 15rem;
  width: 100%;
}
@media screen and (min-width: 786px) {
  .hero-section {
    height: 30rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero-section {
    height: 50rem;
  }
}

.hero {
  padding-top: 1rem;
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (min-width: 786px) {
  .hero {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 15rem 5rem 5rem 5rem;
  }
}
@media screen and (min-width: 786px) {
  .hero__text-section {
    padding-left: 2rem;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text-section {
    width: 100%;
    padding: 0;
  }
}
.hero__album {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  font-size: 0.8rem;
  font-weight: 400;
  color: #fff;
  padding-left: 1rem;
}
@media screen and (min-width: 786px) {
  .hero__album {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 600;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__album {
    padding: 0;
  }
}
.hero__text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  font-size: 1.4rem;
  color: #fff;
  padding: 0.5rem 0 0 1rem;
  width: 80%;
}
@media screen and (min-width: 786px) {
  .hero__text {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 600;
    font-size: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    padding: 0 2rem 0 0;
    width: 100%;
  }
}
.hero__song {
  height: 85px;
  width: 94%;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0 0 1rem;
}
@media screen and (min-width: 786px) {
  .hero__song {
    width: 60%;
    height: 150px;
    margin-top: 2rem;
    padding-left: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__song {
    width: 80%;
  }
}

.shows-container {
  max-width: 1280px;
  margin: 0 auto;
}
.shows-container__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding: 2rem 1rem 0.6rem 1rem;
}
@media screen and (min-width: 786px) {
  .shows-container__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    padding: 2rem 1rem 2rem 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows-container {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1280px) {
  .shows-container__inner {
    margin-top: 3rem;
    width: 70%;
  }
}

.tablet-labels {
  display: none;
}
@media screen and (min-width: 786px) {
  .tablet-labels {
    display: flex;
    justify-content: flex-start;
    padding: 0 3rem;
    width: 76%;
  }
  .tablet-labels__label {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    font-weight: 600;
    flex: 1;
  }
}

@media screen and (min-width: 786px) {
  .show-cards {
    padding: 0 2rem;
  }
}

.show-card {
  margin-bottom: 1rem;
  padding: 0 1rem 1rem 1rem;
  border-bottom: 1px solid #e1e1e1;
}
.show-card > * {
  flex: 1;
}
@media screen and (min-width: 786px) {
  .show-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    padding: 1rem;
  }
}
.show-card__label {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  font-weight: 600;
  text-transform: uppercase;
  color: #afafaf;
  margin-bottom: 0.3rem;
}
@media screen and (min-width: 786px) {
  .show-card__label {
    display: none;
  }
}
.show-card__info {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 786px) {
  .show-card__info {
    margin-bottom: 0;
  }
}
.show-card__button {
  margin-top: 0.2rem;
}
@media screen and (min-width: 786px) {
  .show-card__button {
    width: 20%;
  }
}

.show-card:last-child {
  margin-bottom: 2rem;
}/*# sourceMappingURL=shows.css.map */