@use "./partials/index" as *;

//hero
.hero-section {
  background-image: url("../assets/Images/hero-shows.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 15rem;
  width: 100%;

  &--overlay {
    background-color: rgba($color: primary-background, $alpha: 0.5);
    width: 100%;
    height: 100%;
  }

  @include tablet {
    height: 30rem;
    // display: flex;
  }

  @include desktop {
    height: 50rem;
  }
}

.hero {
  padding-top: 1rem;
  max-width: 1280px;
  margin: 0 auto;

  @include tablet {
    display: flex;
    flex-direction: column;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 15rem 5rem 5rem 5rem;
  }

  &__text-section {
    @include tablet {
      padding: 1rem 0 0 2rem;
    }

    @include desktop {
      width: 100%;
      padding: 0;
    }
  }

  &__album {
    @include page-header-mobile-font;
    font-size: 0.8rem;
    font-weight: 400;
    color: #fff;
    padding-left: 1rem;

    @include tablet {
      @include page-header-desktop-font;
      font-size: 1.5rem;
    }

    @include desktop {
      padding: 0;
    }
  }

  &__text {
    @include page-header-mobile-font;
    font-size: 1.4rem;
    color: $primary-text;
    padding: 0.5rem 0 0 1rem;
    width: 80%;

    @include tablet {
      @include page-header-desktop-font;
      font-size: 4rem;
    }

    @include desktop {
      padding: 0 2rem 0 0;
      width: 100%;
    }
  }

  &__song {
    height: 85px;
    width: 94%;
    border: none;
    border-radius: 0.3125rem;
    padding: 0.5rem 0 0 1rem;

    @include tablet {
      width: 60%;
      height: 9.375rem;
      margin-top: 2rem;
      padding-left: 3rem;
    }

    @include desktop {
      width: 80%;
    }
  }
}

//shows
.shows-container {
  max-width: 1280px;
  margin: 0 auto;

  &__title {
    @include section-header-mobile-font;
    padding: 2rem 1rem 0.6rem 1rem;

    @include tablet {
      @include section-header-desktop-font;
      padding: 2rem 1rem 2rem 3rem;
    }
  }

  @include desktop {
    display: flex;
    justify-content: space-around;
  }

  &__inner {
    @include desktop {
      margin-top: 3rem;
      width: 70%;
    }
  }
}

.tablet-labels {
  display: none;

  @include tablet {
    display: flex;
    justify-content: flex-start;
    padding: 0 3rem;
    width: 76%;

    &__label {
      @include body-copy-desktop-font;
      font-weight: 600;
      flex: 1;
    }
  }
}

.show-cards {
  @include tablet {
    padding: 0 2rem;
  }
}
.show-card {
  margin-bottom: 1rem;
  padding: 1rem;
  border-bottom: 0.0625rem solid $secondary-inactive;

  & > * {
    flex: 1;
  }

  &--selected {
    background-color: $secondary-inactive;
  }

  &:hover {
    background-color: $alternative-background;
    cursor: pointer;
  }

  @include tablet {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    padding: 1.5rem 1.125rem;
  }

  &__label {
    @include labels-buttons-mobile-font;
    font-weight: 600;
    text-transform: uppercase;
    color: $secondary-text;
    margin-bottom: 0.3rem;

    @include tablet {
      display: none;
    }
  }

  &__info {
    @include body-copy-mobile-font;
    font-weight: 600;
    margin-bottom: 0.5rem;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__button {
    margin-top: 0.2rem;

    @include tablet {
      width: 20%;
    }
  }
}

.show-card:last-child {
  margin-bottom: 2rem;
}
